web:
    image: lamp
    ports:
        - "8080:80"
    volumes:
        # application web en développement
        - ${PWD}/:/app
        # le stockage des bases de données mysql sur l'hote
        - ${PWD}/mysql/:/var/lib/mysql
    environment:
        - ALLOW_OVERRIDE=true
        - UID=1000
        - GID=1000
        - MYSQL_PASS=tolkien
